{{ define "main" }}
<h1>{{ .Title }}</h1>

<p>{{.Content}}</p>

{{ $show_in_index := .Params.show_in_index }}
<div class="chapter_overview">
<ul class="list-unstyled">
{{ with .Pages }}
{{ range sort . ".File.Path"}}
<li>
    <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a>
    
      {{ if eq $show_in_index "content" }}
       <p>{{ .Content }} </p>
      {{ else if eq $show_in_index "none"}}
      {{ else }}
        <p>{{ .Summary | plainify }}</p>
      {{ end }}
      
</li>
{{ end }}
{{ end }}
</ul>
</div>

{{ end }}