{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

{{ if isset .Params "youtube_url"}}
<div class="youtube">
  <iframe src="{{ replace .Params.youtube_url "youtube.com" "youtube-nocookie.com" 1 }}?autoplay=1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen title="YouTube Video: {{ .Title }}"></iframe>
</div>
{{ end }}

{{ if isset .Params "pdf_file"}}
<div class="pdf">
<object class="pdf" data="../{{.Params.pdf_file}}" type="application/pdf">
    <embed src="../{{.Params.pdf_file}}">
        <p>This browser does not support PDFs. Please download the PDF to view it: <a href="../{{.Params.pdf_file}}">Download PDF</a>.</p>
    </embed>
</object>
</div>
{{ end }}


{{ end }}