:root {
  --text-width: 800px;
}

#logo {
  width: 200px;
  margin: auto;
  padding: 20px;
  display: block;
}

#content {
  padding-bottom: 4em;
}

p, h1, h2, h3, h4 {
  max-width: var(--text-width);
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: justify  
}


/* shortcode:  video */
div.embedded_video {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.embedded_video iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: solid 1px black;
  min-height: 255px;
  min-width: 400px;
}

div.pdf {
  max-width: var(--text-width);
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
}

/* shortcode:  pdf */
div.pdf object {
  width: 100%;
  aspect-ratio: 16/9;
}

.chapter_overview {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.chapter_overview>ul>li {
  display: block;
  border: 1px solid #888888;
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem auto 2rem;
}

.chapter_overview a {
  text-decoration: none;
}

.chapter_overview>ul>li>a {
  display: block;
  font-size: 130%;
}

ul.section_skipper {
  list-style-type: none;
  display: block;
  overflow: auto;
  padding: 0;
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--text-width);
}
 
ul.section_skipper #next_in_section {
  float: left;
}
ul.section_skipper #prev_in_section {
  float: right;
}

footer ul {
  margin: 0;
}

/* mathjax */

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}

/* pdfjs */

#the-canvas {
  border: 1px solid black;
  direction: ltr;
  width: 100%;
  height: auto;
}
#paginator{
    text-align: center;
    margin-bottom: 10px;
}