#logo {
  width: 200px;
  margin: auto;
  padding: 20px;
  display: block;
}

p, h1, h2, h3, h4 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify
}

div.youtube {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.youtube iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: solid 1px black;
}

div.pdf {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
}

div.pdf object {
  width: 100%;
  aspect-ratio: 19/9;
}